spring:
  mail:
    from: no-reply@reform.hmcts.net
    to:  abhijit.diwan@hmcts.net,mallikarjun.puttana@hmcts.net
    subject:  LRD - Exception in processing -
    host: mta.reform.hmcts.net
    port: 25
    enabled: true
    properties:
      mail-smtp:
        starttls:
          enable: false
        ssl:
          trust: "*"
  flyway:
    locations: classpath:db/testmigration
    enabled: true
  batch:
    initialize-schema: always
    # set batch false in integration test and run batch manually with batch runner to set dynamic test property values
    # eg. dynamic properties ${parent.file.name}
    job:
      enabled: false

#Local integration testing these values should be actual
#ACCOUNT_NAME: ${ACCOUNT_NAME}
#ACCOUNT_KEY: ${ACCOUNT_KEY}
lrd-building-location-start-route: direct:LRD-buildingLocation
lrd-court-venue-start-route: direct:LRD-courtVenue
start-route: direct:LRD
archival-route: direct:LrdArchival
archival-path: azure-blob://${azure.storage.account-name}/lrd-ref-data-archive
active-blob-path: azure-blob://${azure.storage.account-name}/lrd-ref-data
archival-file-names: service-test.csv, building_location_test.csv, court-venue-test.csv
archival-cred: credentials=#credsreg&operation=updateBlockBlob
#archival-date-format keep in dd-MM-yyyy as to delete in testing
archival-date-format: dd-MM-yyyy
file-read-time-out: 2000
scheduler-audit-select: select count(*) from dataload_schedular_audit where date(scheduler_start_time) = current_date
invalid-exception-sql: insert into dataload_exception_records(table_name,scheduler_start_time,scheduler_name,error_description,updated_timestamp) values(?, ?, ?, ?, ?)
invalid-jsr-sql: insert into dataload_exception_records(table_name,scheduler_start_time,scheduler_name,key,field_in_error,error_description,updated_timestamp) values(?, ?, ?, ?, ?, ?, ?)
jsr-threshold-limit: 5
batchjob-name: LocationRefDataLoad
scheduler-insert-sql: insert into dataload_schedular_audit (scheduler_name,file_name, scheduler_start_time,scheduler_end_time,status) values(?,?,?,?,?)
audit-enable: true
lrd-route-task: lrdRouteTask
lrd-building-location-route-task: lrdBuildingLocationLoadTask
lrd-court-venue-route-task: lrdCourtVenueLoadTask
routes-to-execute: lrd-ccd-casetype-load
building-locations-routes-to-execute: lrd-building-location-load
court-venue-routes-to-execute: lrd-court-venue-load
route:
  lrd-ccd-casetype-load:
    id: lrd-ccd-casetype-load
    file-name: service-test.csv
    table-name: service_to_ccd_case_type_assoc
    truncate-sql:
      sql:truncate service_to_ccd_case_type_assoc restart identity?dataSource=dataSource
    insert-sql:
      sql:insert into service_to_ccd_case_type_assoc (service_code, ccd_service_name, ccd_case_type, created_date)
      values (:#service_code,:#ccd_service_name,:#ccd_case_type, now() at time zone 'utc')
      on conflict (service_code, ccd_case_type) do nothing ?batch=true&dataSource=dataSource
    blob-path:
      azure-blob://${azure.storage.account-name}/lrd-ref-data/service-test.csv?credentials=#credsreg&operation=updateBlockBlob
    processor-class: serviceToCcdCaseTypeProcessor
    mapper-class: serviceToCcdCaseTypeMapper
    csv-binder-object: serviceToCcdCaseType
  lrd-building-location-load:
    id: lrd-building-location-load
    file-name: building_location_test.csv
    table-name: building_location
    insert-sql:
      sql:insert into building_location (epimms_id, building_location_name, building_location_status, area, region_id, cluster_id, court_finder_url, postcode, address, created_time, updated_time)
      values (:#epimms_id,:#building_location_name,:#building_location_status,:#area,:#region_id,:#cluster_id,:#court_finder_url,:#postcode,:#address,now() at time zone 'utc',now() at time zone 'utc')
      on conflict (epimms_id) do update set building_location_name = :#building_location_name,building_location_status = :#building_location_status,area = :#area,region_id = :#region_id,cluster_id = :#cluster_id,court_finder_url = :#court_finder_url,postcode = :#postcode,address = :#address,updated_time = now() at time zone 'utc'?batch=true&dataSource=dataSource
    blob-path:
      azure-blob://${azure.storage.account-name}/lrd-ref-data/building_location_test.csv?credentials=#credsreg&operation=updateBlockBlob
    processor-class: buildingLocationProcessor
    mapper-class: buildingLocationMapper
    csv-binder-object: buildingLocation
  lrd-court-venue-load:
    id: lrd-court-venue-load
    file-name: court-venue-test.csv
    table-name: court_venue
    insert-sql:
      sql:insert into court_venue (epimms_id, site_name, court_name, court_status, court_open_date, region_id, court_type_id, cluster_id, open_for_public,
      court_address, postcode, phone_number, closed_date, court_location_code, dx_address, welsh_site_name, welsh_court_address, created_time, updated_time)
      values (:#epimms_id, :#site_name, :#court_name, :#court_status, TO_DATE(NULLIF(:#court_open_date,''), 'dd/MM/yyyy'), :#region_id, :#court_type_id,
      :#cluster_id, :#open_for_public::boolean, :#court_address, :#postcode, :#phone_number, TO_DATE(NULLIF(:#closed_date,''), 'dd/MM/yyyy'),
      :#court_location_code, :#dx_address, :#welsh_site_name, :#welsh_court_address, now() at time zone 'utc', now() at time zone 'utc')
      on conflict (epimms_id,site_name,court_type_id) do update set epimms_id = :#epimms_id, site_name = :#site_name, court_name = :#court_name, court_status = :#court_status, court_open_date = TO_DATE(NULLIF(:#court_open_date,''), 'dd/MM/yyyy'),
      region_id = :#region_id, court_type_id = :#court_type_id, cluster_id = :#cluster_id, open_for_public = :#open_for_public::boolean, court_address = :#court_address,
      postcode = :#postcode, phone_number = :#phone_number, closed_date = TO_DATE(NULLIF(:#closed_date,''), 'dd/MM/yyyy'),
      dx_address = :#dx_address, welsh_site_name = :#welsh_site_name, welsh_court_address = :#welsh_court_address, updated_time = now() at time zone 'utc'?batch=true&dataSource=dataSource
    blob-path:
      azure-blob://${azure.storage.account-name}/lrd-ref-data/court-venue-test.csv?credentials=#credsreg&operation=updateBlockBlob
    processor-class: courtVenueProcessor
    mapper-class: courtVenueMapper
    csv-binder-object: courtVenue

lrd-building-location-select-query: select * from building_location

lrd-select-sql: SELECT * FROM service_to_ccd_case_type_assoc
lrd-court-venue-select-sql: SELECT * FROM court_venue

exception-select-query: select * from  dataload_exception_records
ordered-exception-select-query: select * from  dataload_exception_records order by error_description

select-dataload-scheduler: select *  from dataload_schedular_audit

select-dataload-scheduler-failure: select *  from dataload_schedular_audit where status='Failure'

truncate-audit: truncate dataload_schedular_audit

truncate-exception: truncate dataload_exception_records

get-ccd-case-time: select created_date from SERVICE_TO_CCD_CASE_TYPE_ASSOC where service_code = ? and ccd_case_type = ?

jdbc-batch-size: 10

logging-component-name: Location_Ref_Data
component:
  name: Location Reference Data
mail:
  enabled: false

idempotent-flag-ingestion: true

CONTAINER_NAME: lrd-ref-data

